<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="view-transition" content="same-origin">

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu" />

  <title>SurviFELrun 2025 - The Ultimate Survival Run Challenge in Nijmegen</title>
  <link rel="stylesheet" href="./style.css" />
  <link rel="stylesheet" href="./fullscreenmenu.css" />
  <link rel="icon" type="image/png" href="img/favicon.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon.png">

  <!-- Meta tags -->
  <meta name="description" content="SurivFELrun 2025. Can you survive the challenge?">
  <meta name="author" content="NSSV FEL">
  <meta name="copyright" content="NSSV FEL">
  <meta property="og:title" content="SurviFELrun 2025">
  <meta property="og:type" content="website" />
  <meta property="og:logo" content="https://survifelrun.aws.marnixdessing.nl/img/logo.png">
  <meta property="og:image" content="https://survifelrun.aws.marnixdessing.nl/img/link.png">
  <meta property="og:url" content="https://survifelrun.nl">
  <meta property="og:description" content="SurivFELrun 2025. Can you survive the challenge? Sign up now!">
  <meta property="og:site_name" content="SurviFELrun">

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Event",
    "name": "SurviFELrun 2025",
    "startDate": "2025-05-18T10:00",
    "location": {
      "@type": "Place",
      "name": "Park Brakkenstein, Nijmegen",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Heyendaalseweg 141",
        "addressLocality": "Nijmegen",
        "addressCountry": "NL"
      }
    },
    "description": "A challenging and fun survival run event in Nijmegen. Choose between 5km or 8km tracks!",
    "url": "https://survifelrun.nl"
  }
  </script>


</head>

<body>

  <!-- Full Screen Menu -->
  <div class="full-screen-menu" id="full-screen-menu">
    <div class="menu-close" id="menu-close">&#10005;</div> <!-- Close icon -->
    <div class="buttons">
      <a href="/#news">Laatste nieuws</a>
      <a href="/#info">Deelnemers informatie</a>
      <div class="sub">
        <a href="/praktische-informatie">Praktische informatie</a>
        <a href="/parcours">Parcours en hindernissen</a>
        <a href="https://www.uvponline.nl/uvponlineU/index.php/startlijst/toon_startlijst/482" target="_blank">Starttijden</a>
        <a href="https://www.uvponline.nl/uvponlineU/index.php/uitslag_rt/toonuitslag/482" target="_blank">Uitslagen</a>
        <a href="/#info">Pre-run clinic</a>
      </div>
      <a href="/#vragen">Vragen</a>
      <a href="/#vrijwilligers">Vrijwilligers</a>
      <a href="/#sponsoren">Sponsoren</a>
    </div>
  </div>

  <nav class="menu">
    <h1><a href="/">Survi<span class="fel">FEL</span>run</a></h1>
    <ul class="menu-normal">
      <li><a href="/#news">Laatste nieuws</a></li>
      <li>
        <a href="/#info">Deelnemers informatie</a>
        <ul class="drop-menu">
          <li><a href="/praktische-informatie">Praktische informatie</a></li>
          <li><a href="/parcours">Parcours en hindernissen</a></li>
          <li><a href="https://www.uvponline.nl/uvponlineU/index.php/startlijst/toon_startlijst/482" target="_blank">Starttijden</a></li>
          <li><a href="https://www.uvponline.nl/uvponlineU/index.php/uitslag_rt/toonuitslag/482" target="_blank">Uitslagen</a></li>
          <li><a href="/#info">Pre-run clinic</a></li>
        </ul>
      </li>
      <li><a href="/#vragen">Vragen</a></li>
      <li><a href="/#vrijwilligers">Vrijwilligers</a></li>
      <li><a href="/#sponsoren">Sponsoren</a></li>
    </ul>
    <div id="menu-icon" class="menu-small"><span class="material-symbols-outlined">menu</span></div>
  </nav>
