/* Full-screen menu styles */
.full-screen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--fel-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1050;

  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.4s ease, transform 0.4s ease;
  pointer-events: none;
}

.full-screen-menu.visible {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.full-screen-menu .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.full-screen-menu .buttons a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
}

.full-screen-menu .buttons .sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.full-screen-menu .buttons .sub a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: normal;
}

/* Close button style */
.menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  z-index: 1000;
}